
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
  --dark-blue: #030D32;
  --top-banner: #10306D;
  --blue: #20458D;
  --light-blue: #312782;
  --white: #fefefe;
  --black: #0e0e0e;
  

  --main-font: 'Inter', sans-serif;
  --secondary-font: 'Knewave';

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body{
  font-family: var(--main-font);
  line-height: 1.5;
  background: linear-gradient(45deg, var(--blue) 0%, var(--top-banner) 160%);

}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}