---
import BackgroundPages from "../components/BackgroundPages.astro";
import GuideCard from "../components/GuideCard.astro";
import GuideShelf from "../components/GuideShelf.astro";
import Indhold from "../layouts/Indhold.astro";
import MainLayout from "../layouts/MainLayout.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/guides?";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

const options = {
    headers: {
        apikey: apikey
    }
}

const response = await fetch(url, options);
const data = await response.json();


const unikkeSektioner = data
        // Map over the 'data' array, returning an object with 'series' for each item.
        .map(item => ({ sektion: item.sektion }))
        // Filter out any items where 'series' is null or false.
        .filter(item => item.sektion)
        // Use the reduce function to eliminate duplicates.
        .reduce((unique, item) => 
            // If the current item (series) already exists in the unique array, return the current unique array...
            unique.some(obj => obj.sektion === item.sektion) 
            ? unique 
            // ...otherwise, append the new item (series) to the unique array.
            : [...unique, item],
            []
        );

        console.log(unikkeSektioner);
---

<MainLayout titel="Fantask Guides">
    <!-- <BackgroundPages /> -->
    <Indhold>
        <section>
            <div class="text">
                <h1>Fantask Guides</h1>
                <p>Er du ogs책 i tvivl om hvor du skal starte n책r det kommer til manga, tegneserier og figurer? <br>
                    Bare rolig, vi har sammensat disse guides s책 du nemt kan f책 overblikket.</p>
            </div>

            <!-- map sektioner -->
            {
                unikkeSektioner.map((sektion) => {
                    return (
                        <div class="sektion">
                            <h2>{sektion.sektion}</h2>
                            <div class="flex">
                                {
                                    <GuideShelf
                                        sektion={sektion.sektion}
                                        guides={data}
                                    />
                                }
                            </div>
                        </div>
                    )
                })
            }

        </section>
    </Indhold>
</MainLayout>

<style>
    section {
        margin-inline: 2rem;
        max-width: 1020px;
        margin-top: 3rem;
    }

    .sektion {
        margin-block: 2rem;
    }

    .text {
        margin: 0 auto;
        margin-block: 2rem;
    }

    .flex {
        display: flex;

        gap: 2rem;
        justify-content: flex-start;
        margin-inline: auto;
        margin-bottom: 3rem;
    }

    .guide {
        width: 240px;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .info {
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(3, 13, 50, 0.35);
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;
        transform: translateY(-5px);
        z-index: 99999999;
        height: 10rem;
        text-align: center;
    }

    .info p {
    }

    .info a {
        background-color: var(--dark-blue);
        color: var(--white);
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        place-self: flex-start;
    }

    .subtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    @media screen and (min-width: 1200px) {
        section {
        margin-inline: auto;
    }

</style>