---
import BackgroundPages from "../components/BackgroundPages.astro";
import ForsideHero from "../components/ForsideHero.astro";
import ProductShelf from "../components/ProductShelf.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <ForsideHero />
    <BackgroundPages />
    <div class="content">
        <ProductShelf />
    </div>

</MainLayout>




<style>
    .content {
        background-color: var(--white);
        min-height: 800px;
    }
</style>