---
import BackgroundPages from "../components/BackgroundPages.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <BackgroundPages />
    <div class="indhold">
        
    </div>
</MainLayout>