---
import BackgroundPages from "../components/BackgroundPages.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <BackgroundPages />
    <div class="indhold">
        <section>
            <div class="intro">
            <h2>Historien bag</h2>
            <img src="mork_logo.svg" alt="">
            <p>Fantask blev grundlagt den 22. oktober 1971 af tegneserieenthusiasterne Niels Søren Pedersen og Rolf Bülow og er den nulevænde ældste tegneseriebutik i hele verden.</p>
            <p>Tilbage i 1971 var det ikke muligt at købe tegneserier i Danmark så grundlæggerne, Niels og Rolf, kørte til England og fyldte en varevogn med tegneserier.</p></div>
          </section>  
    </div>
</MainLayout>

<style>
.intro{
    padding-inline: 3rem;
}
.intro img{
    margin-block: 0.8rem 1rem;
}
    h2{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

</style>