---
import BackgroundPages from "../components/BackgroundPages.astro";
import ProductGrid from "../components/ProductGrid.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Fantask">
    <BackgroundPages/>
    <div class="indhold">
            <h1>Tegneserier</h1>
            <p>Her kan du læse om tegneserier</p>
        <ProductGrid type="Tegneserie"/>
    </div>
</MainLayout>

<style>

</style>