---
const { link, type } = Astro.props;
---

<a href=`/${link}`>
    <slot />
</a>

<style>
    a {
        background-color: var(--dark-blue);
        color: var(--white);
        border: none;
        padding: 0.15rem 0.5rem;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        white-space: nowrap;
        z-index: 0;
    }

</style>