---
import Button from './Button.astro'
import GuideCard from './GuideCard.astro';

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/guides?";
const options = {
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"
    }
}

const response = await fetch(url, options);
const data = await response.json();

---

<section>
    <div class="shelf">
        <div class="text">
            <h1>Fantask Starter Guides</h1>
            <p>Er du ogs책 i tvivl om hvor du skal starte n책r det kommer til manga, tegneserier og figurer? <br>
                Bare rolig, vi har sammensat disse guides s책 du nemt kan f책 overblikket.</p>
        </div>
        <div class="flex_row_container">
            <div class="flex_row">
                {
                    data.map((guide) => (
                        <GuideCard 
                            titel={guide.titel} 
                            img={guide.img}
                        />
                    ))
                }
            </div>
        </div>
    </div>
    <div class="button_frame">
        <Button type="primary" link="guides">Se alle vores guides</Button>
    </div>
</section>

<style>
    section {
        overflow: hidden;
        margin-block: 3rem;
    }

    .shelf {
        margin: 0 auto;
        width: 1020px;
    }

    .text {
        padding-inline: 2rem;
    }

    .flex_row_container {
        overflow: scroll;
        padding-inline: 2rem;
        width: 100vw;
        scroll-behavior: smooth;
        margin-block: 1rem;
    }

    .flex_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        width: fit-content; 

    }
    
    .button_frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }


    @media screen and (min-width: 1200px) {
        .text {
            padding-inline: 0rem;
        }

        .flex_row_container {
            padding-inline: 0rem;
        }
    }

</style>