---
import Button from './Button.astro'
import GuideCard from './GuideCard.astro';

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/guides?";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

const options = {
    headers: {
        apikey: apikey
    }
}

const response = await fetch(url, options);
const data = await response.json();

const {sektion} = Astro.props
---
<div class="shelf">
    <div class="flex_row_container">
        <div class="flex_row">
            {
                // only map guides where sektion is the same as sektion variable
                data.map((guide) => {
                    if (guide.sektion === sektion) {
                        return <GuideCard titel={guide.titel} img={guide.img}subtitle={guide.subtitle}/>
                    }
                })
            }
        </div>
    </div>
</div>


<style>


.shelf {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
  }


    .flex_row_container {
    overflow: scroll;
    padding-inline: 0rem;
    width: 100vw;
    max-width: fit-content;
    scroll-behavior: smooth;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: fit-content;
  }
    
  @media screen and (min-width: 1200px) {
    .text {
      padding-inline: 0rem;
    }

    .flex_row_container {
      padding-inline: 0rem;
    }
  }

</style>