---
const {titel, beskrivelse, img, subtitle} = Astro.props;
---

<div class="guide">
    <img src="/fantask_guide_top_banner.svg" alt="" class="banner">
    <a href="">
        <img src={`/${img}.webp`} alt={titel} class="cover">
    </a>
    <div class="info">
        <div class="subtitle">
            <p>{subtitle}</p>
        </div>
    
        <a href="">Læs Guiden</a>
    </div>
</div>


<style>
    .guide {
        width: auto;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 240px;
        overflow: hidden;
    }

    .guide .banner {
        object-fit: cover;
        z-index: 1;
        border-bottom: none;
        border: 1px solid rgba(3, 13, 50, 0.35);
        border-bottom: none;
        box-sizing: content-box;
    }
    .guide .cover {
        width: 100%;
        object-fit: cover;
        transition: transform 0.8s ease-out;
        filter: brightness(0.9);
        transition: filter 0.2s ease;
        border: 1px solid rgba(3, 13, 50, 0.35);
        border-top: none;
        border-bottom: none;
        overflow: hidden;
    
    }

    .guide:hover .cover {
        filter: brightness(1)
    }

    .info {
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(3, 13, 50, 0.35);
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;
        transform: translateY(-5px);
        z-index: 99999999;
        height: 10rem;
        text-align: center;
    }

    .info p {
    }

    .info a {
        background-color: var(--dark-blue);
        color: var(--white);
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 5px;
    }

    .subtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    /* max width 768 */
    @media screen and (max-width: 768px) {
        .guide {
            width: 170px
        }

        .info {
            height: 13rem;
        }

    }

</style>