---
const {titel, beskrivelse, img} = Astro.props;
---

<a href="" class="guide">
    <img src="fantask_guide_top_banner.svg" alt="" class="banner">
    <img src={`/${img}.jpg`} alt="" class="cover">
</a>

<style>
    .guide {
        width: 240px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .guide img {
        width: 100%;
    }

    .banner {
        object-fit: cover;
        z-index: 1;
    }
    .guide .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.8s ease-out;
        z-index: 0;
    }

    .guide .cover {
        filter: brightness(0.8);
        transition: filter 0.2s ease;
    }

    .guide:hover .cover {
        filter: brightness(1)
    }

</style>