---

---

<section class="banner">
    <div >

    </div>
</section>


<style>
    .banner {
        width: 100vw;
        height: 400px;
        background-color: aquamarine;
        margin-block: 2rem;
    }
</style>