---

---

<p>
    <slot />
</p>

<style>
    p {
        background-color: none;
        color: var(--black);
        border: 1px solid var(--black);
        padding: 0.15rem 0.5rem;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        color: var(--black);
        white-space: nowrap;
        cursor: default
    }

</style>