---
---

<footer>
  <div class="fantask">
    <h2>Fantask A/S</h2>
    <p>Sankt Peders Stræde 18</p>
    <p>1453 København K</p>
    <p>Telefon: 33 11 85 38</p>
    <p>Mail: fantask@fantask.dk</p>
    <p>Se butikken indefra her</p>
    <p>Læs Fantasks historie her</p>
  </div>
  <div class="åbningstider">
    <h2>Åbningstider</h2>
    <p>Mandag - Torsdag: 11-18</p>
    <p>Fredag: 11-18:30</p>
    <p>Lørdag: 11-15</p>
  </div>
  <div class="find_os">
    <h2>Find os</h2>
    <a href="https://www.google.com/maps/place/Fantask/@55.6791191,12.5679275,18.97z/data=!4m6!3m5!1s0x4652530e4a01675d:0xb3eced8677910bac!8m2!3d55.679113!4d12.568559!16s%2Fg%2F121pkgjd"> <img src="imgs/map.jpg" alt="" /></a>
  </div>
  <div class="medier">
    <h2>Medier</h2>
    <div class="grid">
      <a href="https://www.instagram.com/fantask_shop/?hl=da"
        ><img src="instagram.svg" alt="" />
        <span>Instagram</span></a
      >
      <a href="https://www.facebook.com/Fantask.dk/?locale=da_DK"
        ><img src="facebook.svg" alt="" />
        <span>Facebook</span></a
      >
      <a href="https://twitter.com/fantasknyt"
        ><img src="twitter.svg" alt="" />
        <span>Twitter</span></a
      >
      <a href="https://www.youtube.com/channel/UCXR0foZecqZ6jVG-V5_DjBw"
        ><img src="youtube.svg" alt="" />
        <span>Youtube</span></a
      >
    </div>
  </div>
</footer>

<style>
  * {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  footer {
    padding-block: 2rem;
    padding-inline: 2rem;
    /* position: absolute;
    bottom: 0;
    width: 100%; */

  }
  footer div {
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  /* Her tilføjer jeg margin bottom til hver anden p element (even)  */
  .fantask p:nth-of-type(even) {
    margin-bottom: 1rem;
  }
  .åbningstider p {
    margin-bottom: 0.8rem;
  }
  .find_os img {
    width: 80%;
    min-width: 20rem;
  }
  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  a img {
    max-width: 1.5rem;
  }
  .medier img {
    width: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
  @media (min-width: 768px) {
    footer {
      display: flex;
      gap: 4rem;
      justify-content: center;
      flex-wrap: wrap;
    }

    .grid {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .find_os img {
      width: 100%;
      min-width: 20rem;
    }

  }
</style>
