---
const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/scrolling_banner?";
const options = {
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"
    }
}

const response = await fetch(url, options);
const data = await response.json();
---

<header>
    <div class="top_header">
        <div class="fantask_logo">
            <a href="/">
                <img src="fantask_header_logo.svg" alt="">
            </a>
        </div>
        <nav>
            <ul class="main_nav">
                <li>
                    <a href="">Nyheder</a>
                </li>
                <li class="tegneserier_li">
                    <a href="/tegneserier">Tegneserier</a>
                    <div class="submenu">
                        <div class="bubble">
                            <ul>Browse
                                <li>
                                    <a href="">Titler A-Z</a>
                                </li>
                                <li>
                                    <a href="">Forfattere</a>
                                </li>
                                <li>
                                    <a href="">Serier</a>
                                </li>
                            </ul>
                            <ul>Genrer
                                <li>
                                    <a href="">Amerikanske blade</a>
                                </li>
                                <li>
                                    <a href="">Manga</a>
                                </li>
                                <li>
                                    <a href="">Danske album</a>
                                </li>
                                <li>
                                    <a href="">Danske blade</a>
                                </li>
                                <li>
                                    <a href="">Hardcover</a>
                                </li>
                                <li>
                                    <a href="">Trade paperbacks</a>
                                </li>
                                <li>
                                    <a href="">Hentai</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pointer"></div>
                    </div>
                </li>
                <li class="bøger_li">
                    <a href="/bøger">Bøger</a>
                    <div class="submenu">
                        <div class="bubble">
                            <ul>Browse
                                <li>
                                    <a href="">Titler A-Z</a>
                                </li>
                                <li>
                                    <a href="">Forfattere</a>
                                </li>
                                <li>
                                    <a href="">Serier</a>
                                </li>
                            </ul>
                            <ul>Genrer
                                <li>
                                    <a href="">Adventure</a>
                                </li>
                                <li>
                                    <a href="">Fantasy</a>
                                </li>
                                <li>
                                    <a href="">Horror</a>
                                </li>
                                <li>
                                    <a href="">Science Fiction</a>
                                </li>
                                <li>
                                    <a href="">Krimi</a>
                                </li>
                                <li>
                                    <a href="">Young Adult</a>
                                </li>
                                <li>
                                    <a href="">Non-fiction</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pointer"></div>
                    </div>

                </li>
                <li>
                    <a href="">Hobby</a>
                </li>
                <li>
                    <a href="/gavekort">Gavekort</a>
                </li>
                <li>
                    <a href="/guides">Guides</a>
                </li>
                <li>
                    <a href="/om_os">Om os</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="user_nav">
                <li>
                    <lottie-player class="burgermenu" src="menuV2.json"  background="transparent"  speed="1.7"></lottie-player>
    
                </li>

                <!-- <li>
                    <div class="searchbar_container">
                        <form action="" class="search_form">
                            <input type="text" class="searchbar_input">
                        </form>

                    </div>
                </li> -->

                <li>
                    <button class="search">
                        <img src="header_search.svg" alt="">
                    </button>
                </li>

                <li>
                    <a href="">
                        <img src="header_favoritter_hvidt_hjerte.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="header_shopping_cart.svg" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</header>
<div class="top_banner">
    <ul class="scrolling_banner">

        {
            data.map((item) => {
                return (
                    <li>{item.text}</li>
                    <li>|</li>
                )
            })
        }
        {
            data.map((item) => {
                return (
                    <li>{item.text}</li>
                    <li>|</li>
                )
            })
        }

    </ul>
</div>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
    const nav = document.querySelector('.burgermenu');
    let clicked = false;
    nav.addEventListener('click', () => {
        if (clicked) {
            nav.setDirection(-1);
            nav.play();
            clicked = false;
        } else {
            nav.setDirection(1);
            nav.play();
            clicked = true;
        }
    });

    // const search = document.querySelector('.search');
    // const searchbar = document.querySelector('.searchbar_container');
    // const main_nav = document.querySelector('.main_nav');
    // const searchBarInput = document.querySelector('.searchbar_input'); // Assuming the input element has a class 'searchbar_input'
    // const searchForm = document.querySelector('.search_form'); // Assuming the form has a class 'search_form'

    // search.addEventListener('click', function(e) {
    //     e.stopPropagation();

    //     if (searchbar.classList.contains('searchbar_visible')) {
    //         // Submit the form when the searchbar is visible and the search button is clicked
    //         // searchForm.submit();
    //     } else {
    //         main_nav.classList.add('hide');
    //         searchbar.classList.add('searchbar_visible');
    //         searchBarInput.focus();
    //     }
    // });

    // searchbar.addEventListener('click', function(e) {
    //     e.stopPropagation(); // Prevent the click event from bubbling up to the document
    // });

    // document.addEventListener('click', function(e) {
    //     if (searchbar.classList.contains('searchbar_visible')) {
    //         searchbar.classList.remove('searchbar_visible');
    //         main_nav.classList.remove('hide');
    //     }
    // });



</script>



<style>

    .hide {
        opacity: 0;
        pointer-events: none;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    .top_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--dark-blue);
        height: 4rem;
        padding-inline: 2rem;
    }

    li {
        list-style: none;
    }

    a {
        color: var(--white);
        text-decoration: none;
    }

    .main_nav {
        display: none;
        width: 100%;
        justify-content: space-between;
        white-space: nowrap;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .main_nav > li {
        margin-right: 1rem;
        font-size: 16px;
        z-index: 1;
        padding: 1rem;
        transition: text-shadow 0.3s ease-in-out, opacity 0.2s ease-in-out;
        position: relative;
        font-weight: medium;
    }

    /* .main_nav > li:hover {
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    } */
    
    .main_nav:has(li:hover) > li:not(:hover) {
        opacity: 0.5;
    }


    .user_nav {
        display: flex;
        width: 100%;
        align-items: baseline;
    }

    .user_nav li {
        margin-right: 1rem;
        /* transition: all 0.3s ease-in-out; */
    }

    /* .user_nav li:hover {
        filter: drop-shadow(0px 0px 20px rgb(255, 255, 255, 0.5));
    } */

    /* .user_nav:has(li:hover) li:not(:hover) {
        opacity: 0.5;
    } */

    .user_nav img {
        width: 1.5rem;
    }

    .fantask_logo img {
        width: 8rem;
    }

    .top_banner {
        background-color: var(--top-banner);
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        opacity: 0.9;
        box-shadow: 0px 5px 14px 0px #275ec424;
        z-index: -9999;
        position: sticky;
        top: 4rem;
    }

    .scrolling_banner {
        display: inline-block;
        padding-block: 0.6rem;
        animation: scroll 40s linear infinite;
        width: fit-content;
    }

    .scrolling_banner li {
        color: var(--white);
        font-size: 14px;
        display: inline;
        margin-right: 10rem;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .burgermenu {
        transform: translateY(0.24rem) translateX(0.18rem);
        cursor: pointer;
    }

    .search {
            background: none;
            border: none;
            cursor: pointer;
        }

    .searchbar_container {
        display: none;
    }

    @media screen and (min-width: 1200px) {
       
        .scrolling_banner li {
            font-size: 16px;
        }
       
        .burgermenu {
            display: none;
        }

        .main_nav {
            display: flex;
        }

        .fantask_logo img {
            width: 16rem;
            transform: translateY(-0.2rem);
        }

        .top_header {
            height: 5rem;
        }

        .top_banner {
            top: 5rem;
        }


        /* @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        } */

        li:hover .submenu {
            opacity: 1;
            pointer-events: all;
        }

        .submenu {
            position: absolute;
            width: fit-content;
            opacity: 0;
            border-radius: 15px;
            background-color: var(--white);
            padding: 3rem;
            z-index: 1;
            border: 1px solid var(--black);
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.314);
            pointer-events: none;
            transition: opacity 0.2s ease-in-out;
        }

        .bøger_li .submenu {
            transform: translateX(-43.5%) translateY(7%);
        }

        .tegneserier_li .submenu {
            transform: translateX(-38%) translateY(7%);
        }

        .submenu:hover {
            display: block;
        }

        .submenu ul {
            font-weight: 600;
            font-size: 20px;
        }

        .submenu ul a {
            font-weight: 400;
            color: var(--black);
        }

        .submenu li {
            font-size: 16px;
            margin-top: 0.1rem;
            opacity: 1;
        }

        .submenu li:first-of-type {
            margin-top: 0.2rem;
        }

        .pointer {
            width: 7rem;
            height: 7rem;
            position: absolute;
            background-color: var(--white);
            transform: translateX(-50%) translateY(-50%);
            clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
            inset: (0% 45% 0% 45% round 10px);
            border-radius: 5px;
            top: -0.5rem;
            left: 50%;
            z-index: -1;
            padding-inline: 6rem;
        }
        .bubble {
            display: flex;
            gap: 3rem;
        }



        .searchbar_container {  
            display: none;
            align-items: center;
            width: 0%;
            overflow: hidden;
            opacity: 0;
            transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            transform: translateY(-0.3rem);
        }

        .searchbar_visible {
            display: flex;
            opacity: 1;
            width: 100%;
        }

        .searchbar_input {
            height: 2rem;
            border: none;
            border-bottom: 1px solid var(--white);
            background: none;
            padding-inline: 0.4rem;
            font-size: 16px;
            font-weight: 300;
            color: var(--white);
        }

        .searchbar_input:focus {
            outline: none;
        }

    }

</style>