<div class="indhold">
    <slot />
</div>

<style>
    .indhold {
        background-color: var(--white);
        min-height: fit-content;
        padding-block: 5rem;
        z-index: 0;
    }

</style>